@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  margin: 0;
  padding: 0;
  font-family:  sans-serif;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

.user {
  &[data-hasdata="false"] {
    display: none;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 25px;
  background: #202020;
  color: #fff;
  height: 90px;
  
  &__image {
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;

    img {
      max-width: 100%;
    }
  }
}

.top,
.content-section,
.images {
  padding: 0 20px;
}

.content-section {
  &--leave {
    text-align: center;
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  &__single {
    flex: 0 0 100%;
    margin-bottom: 1%;
    background: #fff;
    border: 1px solid #111;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    
    img {
      display: block;
      margin: 0 auto 10px;
      cursor: pointer;
      @include noselect;
      transition: transform .2s ease-in;
      transform-origin: bottom center;

      &:hover {
        transform: scale(1.1);
      }
    }
    img, p {
      max-width: 100%;
    }

    svg {
      display: none;

      &[data-video="true"] {
        display: block;
      }
      
      pointer-events: none;
      position: absolute;
      top: 10px;
      right: 10px;

      background: #fff;
      padding: 3px;

      path {
        fill: #222;
      }
    }
    
    p {
      padding: 0 5px;
    }

    @media screen and (min-width: 450px) {
      flex: 0 0 48%;
    }
    
    @media screen and (min-width: 768px) {
      flex: 0 0 32%;
    }
    
    @media screen and (min-width: 1024px) {
      flex: 0 0 24%;
    }
    @media screen and (min-width: 1400px) {
      flex: 0 0 19%;
    }
  }
}


.modal {
  &[data-show="false"] {
    opacity: 0;
    pointer-events: none;
  }

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity .2s ease-out;

  &__bg {
    background: rgba(#000, .8);
    position: aboslute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    max-width: 640px;
    
    &__image {
      flex: 1 1 100%;

      img, video {
        display: block;
        max-width: 90vw;
        max-height: calc(100vh - 45px); // height of container minus controls
        height: auto;
        width: auto;
      }
    }

    &__angle {
      flex: 1 0 50%;
      cursor: pointer;
      background: rgba(#fff,.1);

      &[data-image="false"] {
        opacity: .4;
        cursor: not-allowed;
      }

      svg path {
        fill: rgba(#fff, .8);
      }

      &:active {
        background: rgba(#fff,.3);
        svg path {
          fill: rgba(#fff, 1);
        }
      }
    }

    @include noselect;
  }
}